.link {
  text-decoration: none !important;
}
.items {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-width: 350px;
}
.productcontainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.productbody {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.productimage {
  width: 80%;
  height: auto;
}

.searchbar {
  padding: 0.5vw;
  left: 5.5vw;
  position: relative !important;
  width: 50%;
  box-sizing: border-box;
  margin: auto;
}
